<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target xsi:type="File" name="file" fileName="${basedir}/Log.txt"
                layout="[${level:upperCase=true}] ${longdate} ${message}"/>
        <target xsi:type="File" name="fileError" fileName="${basedir}/Log.txt"
                layout="[${level:upperCase=true}] ${longdate} ${callsite:filename=True:includeSourcePath=False:className=False:methodName=False} ${stacktrace}: ${message} Exception: ${exception}"/>
      </targets>
      <rules>
        <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="file"/>
        <logger name="*" minlevel="Error" writeTo="fileError"/>
      </rules>
    </nlog>
</configuration>